<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      html, body {height: 100%;}
      body { display: flex; flex-flow: column;}
      footer {margin-top: auto; background: #292e33; color: #ccc;}
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bezoder | control your body, health</title>
  </head>
  <body class="bg-light">
    <header>
      <nav class="navbar navbar-expand-md navbar-light" style="background-color: #eceff1; color:#1976d2;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbarToggler">
          <ul class="navbar-nav mr-auto">
            <a class="navbar-brand" href="{% url 'home' %}">Bezoder</a>
            <li class="nav-item"><a class="nav-link" href="{% url 'traits' %}">Genetic traits</a></li>            
          </ul>
          <ul class="nav navbar-nav ml-auto">
            {% url 'register' as register_url %}
            {% url 'login' as login_url %}
            {% url 'logout' as logout_url %}
            {% url 'profile' as profile_url %}
            <li class="nav-item {% if request.get_full_path == register_url or request.get_full_path == login_url or request.get_full_path == logout_url or request.get_full_path == profile_url %}active{% endif %} dropdown container-fluid">
              {% if user.is_authenticated %}
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if user.get_full_name %}  {{user.get_full_name}} {% else %} {{user.get_username}} {% endif %}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'profile' %}">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
              </div>
              {% else %}
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login/register
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'login' %}">Log in</a>
              </div>
              {% endif %}
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="fluid">
      <div class="container-fluid pt-2 pb-2 bg-white">
        <div class="row">
          <div class="col-md-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              {% block leftmenu %} {% endblock leftmenu %}
            </div>
          </div>
          <div class="col-md-8 bg-white">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{message}}
                </div>
              {% endfor %}
            {% endif %}

            {% block content %}{% endblock content %}
          </div>
          <div class="col-md-2 bg-white">
           right menu advertising
          </div>
        </div>
      </div>
    </main>


    <footer class="footer container-fluid">
     <div class="row pt-4">
       <div class="col-lg-6">
         <p>Bezoder</p>
         <p><strong>Decode your body</strong></p>
       </div>
       <div class="col-lg-6">
         <p>Somewhere</p>
         <p>+7 (8442) 96-99-07</p>
       </div>
     </div>
   </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
