{% extends 'home/basenlgd.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block leftmenu %}

{% include "person/lmenu.html" with active="profile" %}

{% endblock leftmenu %}

{% block content %}
<div class="content-section row">

  <form method="post" class="col-lg-6">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend>Update profile for
        <strong>
          {% if user.get_full_name %}  {{user.get_full_name}} {% else %} {{user.get_username}} {% endif %}
        </strong>
      </legend>
      {{ u_form|crispy }}
      {{ p_form|crispy }}
    </fieldset>
    <div class="form-group">
      <button type="submit" class="btn btn-outline-info" name="signup">Update</button>
    </div>
  </form>
</div>

{% endblock content %}
